﻿body {

}

.indicador {
    font-family: Arial;
    font-style: normal;
    font-variant: normal;
    text-align: left;
}

h1 {
    font-family:Helvetica, sans-serif;
    font-weight: bold;
}

#formulario {
    width: 300px;
    height: 400px;
    position:absolute;
    left: 46%;
    top:51%;
    transform: translate(-50%, -50%);
    margin: 50px;
    outline: solid 1px black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.cb_list {
    justify-content: center;
}